$primary-1: #EFF4FF;

$primary-blue-2: #337AB5;
$primary-blue-7: #1D458C;
$primary-blue-9: #21478A;
$primary-blue-10: #1A428A;

$particulier-1: #FFF2ED;
$particulier-2: #FFDED1;
$particulier-3: #FFB79C;
$particulier-4: #FF9B75;
$particulier-5: #FF703A;

$typo-blue-01: #0058A3;

$grey-2: #E6E9EC;
$grey-6: #495057;
$grey-7: #212529;

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg) brightness(102%) contrast(102%);
}

.filter-primary-1 {
  filter: invert(21%) sepia(61%) saturate(1549%) hue-rotate(197deg) brightness(95%) contrast(96%);
}
