$primary-1: #EFF4FF;
$primary-2: #BFCEEA;

$primary-blue-2: #337AB5;
$primary-blue-7: #1D458C;
$primary-blue-9: #21478A;
$primary-blue-10: #1A428A;

$particulier-1: #FFF2ED;
$particulier-2: #FFDED1;
$particulier-3: #FFB79C;
$particulier-4: #FF9B75;
$particulier-5: #FF703A;

$base-ternary-4: #FFD400;

$typo-blue-01: #0058A3;

$alert-info-2: #FFF5B8;
$alert-info-5: #D3AA00;

$alert-success-1 : #DCFCDE;
$alert-success-5: #3CB053;

$alert-error-1 : #FDE8E9;

$grey-2: #E6E9EC;
$grey-6: #495057;
$grey-7: #212529;

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg) brightness(102%) contrast(102%);
}

.filter-primary-1 {
  filter: invert(21%) sepia(61%) saturate(1549%) hue-rotate(197deg) brightness(95%) contrast(96%);
}

.filter-primary-7 {
  filter: invert(15%) sepia(90%) saturate(1882%) hue-rotate(210deg) brightness(98%) contrast(88%);
}

.filter-alert-info-5 {
  filter: invert(51%) sepia(99%) saturate(423%) hue-rotate(11deg) brightness(104%) contrast(102%);
}

.filter-alert-success-5 {
  filter: invert(55%) sepia(57%) saturate(472%) hue-rotate(80deg) brightness(92%) contrast(97%);
}
