.bg-particulier-1 {
  background-color: $particulier-1;
}

.icon-bg-blue {
  height: 48px;
  width: 48px;
  left: 20px;
  border-radius: 56px;
  padding: 12px;
  background-color: $primary-1;
  margin-right: 10px;
}
