.background-particulier-1 {
  background-color: $particulier-1;
}

.background-white {
  background-color: white;
}

.bloc-970 {
  width: 970px;  
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(79deg) brightness(102%) contrast(102%);
}
