.bg-alert-info-2 {
  background-color: $alert-info-2;
}

.bg-particulier-1 {
  background-color: $particulier-1;
}

.bg-particulier-2 {
  background-color: $particulier-2;
}

.bg-particulier-4 {
  background-color: $particulier-4;
}

.bg-primary-1 {
  background-color: $primary-1;
}

.bg-primary-2 {
  background-color: $primary-2;
}
