.btn-verifsiret {
  height: 52px;
  width: 255px;
  left: 441px;
  top: 6px;
  border-radius: 40px;
  padding: 14px, 24px, 14px, 24px;
  color: white !important;
  background-color: $primary-blue-7;
}
