.btn-verifsiret {
  height: 52px;
  border-radius: 40px;
  color: white !important;
  background-color: $primary-blue-7;
}

.btn-outline-warning {
  min-height: 52px;
  padding: 14px 32px;
  border-radius: 40px;
  background-color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $grey-7;
}
