input[type="text"] {
  height: 52px;
}
.error_message p {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

@include media-breakpoint-up(sm) {
  .form-inline {
    display: inline-flex;
  }
}
