.header-urssafassur {
  width: 1440px;
  height: 290px;
}

.bg-violet {
  background: url(header-background-violet.svg);
}

.header-urssafassur h1 { 
  position: absolute;
  top: 155px;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
}
