.upper-header {
  width: 1440px;
  height: 64px;
  background-color: $particulier-4;
  vertical-align: middle;
  display: table-cell;
}

.upper-header p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 14px;
}
