.list-group-item {
  background-color: transparent;
  border: none;
}  

.list-group-item::before {
  content: "●";
  color: $particulier-3;
  display: inline-block;
  margin-inline-end: 10px;
}

.alert * .list-group-item::before {
    content: "●";
    color: $alert-info-5;
    display: inline-block;
    margin-inline-end: 10px;
}
