section h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: $primary-blue-7;
}

section h2:after {
  content: "";
  border-bottom: 5px solid $particulier-5;
  width: 48px;
  display: block;
  margin-top: 20px;
}

section p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: $grey-6;
}
